<div class="summary-cell">
<span id="liveStreamStandardLabel" class="summary-label" data-language-id="c507383b-7763-5c85-9296-9ea58142035b">{{text:c507383b-7763-5c85-9296-9ea58142035b:text0}}</span>
<strong id="liveStreamStandardTime">-</strong>
</div>
<div class="rendered-time-cell"><div class="summary-cell"><span id="liveStreamTimeLabel" class="summary-label" data-language-id="0adf1049-c1d7-51c1-a235-934af46f337a">{{text:0adf1049-c1d7-51c1-a235-934af46f337a:text0}}</span><strong id="liveStreamRemoteTime" data-language-id="2d62ffc7-c5e7-5e96-a105-07116a168ee8">{{text:2d62ffc7-c5e7-5e96-a105-07116a168ee8:text0}}</strong></div></div>
<div class="percent-summary" aria-live="polite"><strong id="liveStreamRemoteGoal" data-language-id="5113cad1-42d6-5f79-a9ed-80de9445b435">{{text:5113cad1-42d6-5f79-a9ed-80de9445b435:text0}}</strong></div>
